@keyframes fadeInAndOutAnimation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.announcement {
  width: calc(100% - 30px);
  margin: 15px 15px;
  position: fixed !important;
  top: 10px;
  z-index: 500;
  opacity: 0;
  animation: fadeInAndOutAnimation 3s ease-in-out;
}
